* {
	box-sizing: border-box;
	outline: none;
}

html,
body {
	width: 100%;
	height: 100%;
}


body {
	min-width: 320px;
	margin: 0;
  position: relative;
  // font-family: $main-font;
	font-family: 'Roboto', sans-serif;
  background-color: #fff;
  color: #000;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;

	// for theme
	transition: color 30ms ease-out, background-color 30ms ease-out;
}


button {
	position: relative;
	padding: 0;
	border: none;
	background-color: transparent;
	outline: none;
	cursor: pointer;
}

h1,
h2,
h3,
p {
	margin: 0;
}


a {
	color: $black;
	text-decoration: none;
	cursor: pointer;
}

img {
	max-width: 100%;
}



ol,
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
