
// Fonsts
$main-font: "Helvetica Neue", "Calibri Light", Roboto, sans-serif;


// Breakpoint
$wide: 1601px 1920px; 
$desktop: max-width 1600px;
$tablet: max-width 1024px;
$mobile: max-width 767px;

// Colors
$primary: #FF5252;

$white: #ffffff;
$black: #222222;
$yellow: #FFEB3B;
$purple: #512DA8;


// Style
$shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);