@import '../../sass/utilites/index';


.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;

	height: 64px;
	padding-left: 64px;
	padding-right: 64px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}


@include breakpoint($desktop) {
	.navbar {
		padding-left: 32px;
		padding-right: 32px;
	}
}

@include breakpoint($tablet) {
	.navbar {
		padding-left: 16px;
		padding-right: 16px;
	}
}

@include breakpoint($mobile) {
	.navbar {
		align-items: flex-start;
		flex-wrap: wrap;
		height: 104px;
		padding-top: 8px;
		padding-left: 12px;
		padding-right: 12px;
	}

	.logo {
		order: 1;
	}

	.navbar-navigation {
		order: 1;
	}

	.search {
		order: 2;
	}

}


//  LOGO
//-------------------------------------------------
.logo {
	float: left;
	display: block;
	width: 121px;
	min-width: 121px;
	margin-right: 64px;
}

@include breakpoint($tablet) {
	.logo {
		margin-right: 40px;
	}
}


//  SEARCH
//-------------------------------------------------
.search {
	display: flex;
	align-items: center;
	max-width: 700px;
	width: 100%;
}

.search-icon {
	width: 20px;
	height: 20px;
	margin-right: 8px;
	position: relative;
	top: -1px;
}


@include breakpoint(max-width 1150px) {
	.search {
		max-width: 580px;
	}
}

@include breakpoint($tablet) {
	.search {
		margin-right: 40px;
	}
}

@include breakpoint($mobile) {
	.search {
		min-width: 100%;
	}
}


//  NAVIGATION
//-------------------------------------------------
.navbar-navigation {
	display: flex;
	justify-content: flex-end;
	align-items: center;

	ul {
		display: flex;
		margin-right: 32px;
	}
	
	li {
		margin-left: 32px;
	}

	a {
		color: rgba($black, .55);

		&.active {
			color: $primary;
		}
	}
}

@include breakpoint($tablet) {
	.navbar-navigation {
		ul {
			display: none;
		}
	}
}


//  THEME
//-------------------------------------------------
.theme-switch {
	position: relative;
}

.theme-switch-button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	cursor: pointer;
}

#theme-icon {
	width: 22px;
	height: 26px;
	fill: rgba($black, .55);
}





//  Switch Theme
//-------------------------------------------------
.theme-choose {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 5;
	pointer-events: none;

	&.is-show {
		pointer-events: auto;
	}

}


.theme-sheet {
	width: 114px;
	height: 114px;
	position: absolute;
	top: 8px;
	right: 64px;
	z-index: 10;
	padding: 8px;
}

@include breakpoint($desktop) {
	.theme-sheet {
		right: 32px;
	}
}

@include breakpoint($tablet) {
	.theme-sheet {
		right: 16px;
	}
}

@include breakpoint($mobile) {
	.theme-sheet {
		right: 12px;
	}
}


.theme-sheet-background {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 2;
	
	background-color: $white;
	border-radius: 3px;
	box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2), 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12);
	
	transform: scale(0);
	transform-origin: top right;
	
	&.is-show {
		animation-name: scaleUp;
		animation-timing-function: cubic-bezier(.59,.49,.26,.97":".59,.49,.26,.97);
		animation-duration: 180ms;
		animation-fill-mode: forwards;
	}
	
	&.is-hide {
		animation-name: scaleDown;
		animation-timing-function: cubic-bezier(.15,.6,.67,.59":".15,.6,.67,.59);
		animation-duration: 180ms;
	}
}


.theme-colors-list {
	display: flex;
	flex-wrap: wrap;
	position: relative;
	z-index: 4;
	transition: all 400ms ease-out;
}


.theme-color-item {

	&.is-selected {
		.theme-color-background {
			border-color: $primary;
			border-width: 2px;
		}
	}

	&.is-active {
		.theme-color-icon {
			display: flex;
		}
	}
}


.theme-color {
	display: block;
	width: 48px;
	height: 48px;
	position: relative;
	padding-left: 6px;
	padding-right: 6px;
	
	// transform-origin: top right;
	transform: scale(0);
	
	&.is-show {
		animation-name: scaleUpColors;
		animation-timing-function: cubic-bezier(.59,.49,.26,.97":".59,.49,.26,.97);
		animation-duration: 200ms;
		animation-fill-mode: forwards;
	}
	
	&.is-hide {
		animation-name: scaleDownColors;
		animation-timing-function: cubic-bezier(.15,.6,.67,.59":".15,.6,.67,.59);
		animation-duration: 160ms;
	}

}


.theme-color-background {
	display: inline-block;
	width: 36px;
	height: 36px;
	border: 2px solid;
	border-radius: 50%;
	position: absolute;
	top: calc(50% - 18px);
	left: calc(50% - 18px);
	z-index: 5;


	&.black {
		background-color: $black;
		border-color: $black;

		& + .theme-color-icon {
			transform: rotate(-90deg);
		}
	}
	&.white {
		background-color: $white;
		border-color: #e0e0e0;
		border-width: 1px;
	}
	&.yellow {
		background-color: $yellow;
		border-color: $yellow;

		& + .theme-color-icon {
			transform: rotate(180deg);
		}
	}
	&.purple {
		background-color: $purple;
		border-color: $purple;

		& + .theme-color-icon {
			transform: rotate(90deg);
		}
	}
}


.theme-color-icon {
	display: none;
	
	justify-content: center;
	align-items: center;
	width: 20px;
	height: 20px;
	background-color: $primary;
	border-radius: 50%;
	position: absolute;
	top: calc(50% - 10px);
	left: calc(50% - 10px);
	
	z-index: 10;

	svg {
		width: 11px;
		height: 11px;
		margin: auto;
		fill: $white;
	}

}
