@import '../../sass/utilites/vars';


.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;

	height: 64px;
	padding-left: 64px;
	padding-right: 64px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}


//  LOGO
//-------------------------------------------------
.navbar-logo {
	max-width: 121px;
	width: 100%;
}


//  SEARCH
//-------------------------------------------------
.search {
	flex-grow: 2;
	display: flex;
	align-items: center;
	max-width: 724px;
	position: relative;

	input {
		width: 700px;
		border: none;
		padding: 5px;
		font-size: 16px;
	}
}

#search-icon {
	width: 20px;
	height: 20px;
	margin-right: 8px;
	fill: rgba($black, .70);

	position: relative;
	top: -1px;
}

.search-suggestions {
	// width: 100%;
	position: absolute;
	top: calc(100% + 8px);
	left: 0;
	right: 0;
	background-color: $white;

	li {
		font-size: 16px;
		padding: 8px;
	}
}


//  NAVIGATION
//-------------------------------------------------
.navbar-navigation {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	// max-width: 400px;
	// width: 100%;

	ul {
		display: flex;
		margin-right: 32px;
	}
	
	li {
		margin-left: 32px;
	}

	a {
		color: rgba($black, .55);

		&.active {
			color: $primary;
		}
	}
}



//  THEME
//-------------------------------------------------
.theme-switch {
	position: relative;
}

.theme-switch-button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	cursor: pointer;
}

#theme-icon {
	width: 22px;
	height: 26px;
	fill: rgba($black, .55);
}

