<div class="theme-choose">
  <div class="theme-sheet">
    <ul class="theme-colors-list">
      <li *ngFor='let item of themeData' class="theme-color-item">
        <button class="theme-color" (click)='changeTheme()' >
          <span class="theme-color-background" [ngClass]="item.color"></span>
          <span class="theme-color-icon-container">
						<span class="theme-color-icon">
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M9 22l-10-10.598 2.798-2.859 7.149 7.473 13.144-14.016 2.909 2.806z"/></svg>
						</span>
          </span>
        </button>
      </li>
    </ul>
    <div class="theme-sheet-background"></div>
  </div>
</div>
