@import '../../sass/utilites/index';


.movies-list-wrap {
  display: flex;
  justify-content: center;
}

.movies-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 1520px;
  padding-top: 32px;

  li {
  	margin-right: 40px;
  	margin-bottom: 40px;
  }

  li:nth-child(3n) {
  	margin-right: 0;
  }
}

@include breakpoint($desktop) {
  .movies-list {
    max-width: 1000px;

    li:nth-child(even) {
      margin-right: 0;
    }

    li:nth-child(odd) {
      margin-right: 40px;
    }
  }
}

@include breakpoint($tablet) {
  .movies-list {
    max-width: 728px;
  }
}

@include breakpoint($mobile) {
  .movies-list {
    max-width: 416px;
    padding-left: 12px;
    padding-right: 12px;

    li:nth-child(odd) {
      margin-right: 0px;
    }
  }
}


//------------------------------
.movie-card {
  display: flex;
  max-width: 480px;
  height: 280px;
  width: 100%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 5px;
  overflow: hidden;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);

  &:hover,
  &:focus {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }
}

@include breakpoint($tablet) {
  .movie-card {
    height: auto;
    flex-direction: column;
    max-width: 344px;
  }
}

@include breakpoint($mobile) {
  .movie-card {
    max-width: 384px;
  }
}

//------------------------------
.movie-poster {
  width: percentage(187px / 480px);
  background-color: rgba($black, .8);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &.--default {
    display: flex;
    justify-content: center;
    align-items: center;
    fill: $white;

    svg {
      width: 64px;
      height: 64px;
    }
  }
}

@include breakpoint($tablet) {
  .movie-poster {
    width: 100%;
    height: 400px;
  }
}

//------------------------------
.movie-content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
  width: percentage(293px / 480px);
  padding: 24px;
}

@include breakpoint($tablet) {
  .movie-content {
    width: 100%;
  }
}

@include breakpoint($mobile) {
  .movie-content {
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 24px;

  }
}


//------------------------------
.movie-title {
  font-size: rem(22px);
  font-weight: 700;
}

//------------------------------
.movie-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 12px;
}

.movie-year-genres {
  display: flex;
  .year,
  .genres {
    font-size: rem(14)px;
  }
  .year {
    margin-right: 16px;
  }
}

.movie-rating {
  display: flex;
  color: $primary;
  svg {
    width: 15px;
    height: 19px;
    margin-right: 6px;
    position: relative;
    top: 4px;
    fill: $primary;
  }
  .rating {
    font-size: rem(22px);
    font-weight: 700;
  }
}

//------------------------------
.movie-description {
	font-size: rem(14px);
	line-height: 15px;
}

@include breakpoint($tablet) {
  .movie-description {
    margin-bottom: 16px;
  }
}

@include breakpoint($mobile) {
  .movie-description {
    font-size: rem(16px);
    line-height: 20px;
  }
}


//------------------------------
.movie-button {
	text-align: right;
}

@include breakpoint($tablet) {
  .movie-button {
    text-align: center;
  }
}

//------------------------------
.show-more {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 40px;
}
