
<div class='skeleton-navbar'>
	<div class='skeleton-logo'></div>
	<div class='skeleton-search'></div>
  <div class='skeleton-theme'></div>
</div>

<div class="skeleton-cards-wrap">
	<ul class="skeleton-cards-list">
		<li class='skeleton-card'>
			<div class='skeleton-card-poster'></div>
			<div class='skeleton-card-content'>
				<div class="skeleton-card-title"></div>
				<div class="skeleton-card-description">
					<div></div>
					<div></div>
					<div></div>
					<div></div>
				</div>
				<div class="skeleton-card-btn-wrap">
					<div class="skeleton-card-btn"></div>
				</div>
			</div>
		</li>
		<li class='skeleton-card'>
			<div class='skeleton-card-poster'></div>
			<div class='skeleton-card-content'>
				<div class="skeleton-card-title"></div>
				<div class="skeleton-card-description">
					<div></div>
					<div></div>
					<div></div>
					<div></div>
				</div>
				<div class="skeleton-card-btn-wrap">
					<div class="skeleton-card-btn"></div>
				</div>
			</div>
		</li>
		<li class='skeleton-card'>
			<div class='skeleton-card-poster'></div>
			<div class='skeleton-card-content'>
				<div class="skeleton-card-title"></div>
				<div class="skeleton-card-description">
					<div></div>
					<div></div>
					<div></div>
					<div></div>
				</div>
				<div class="skeleton-card-btn-wrap">
					<div class="skeleton-card-btn"></div>
				</div>
			</div>
		</li>
		<li class='skeleton-card'>
			<div class='skeleton-card-poster'></div>
			<div class='skeleton-card-content'>
				<div class="skeleton-card-title"></div>
				<div class="skeleton-card-description">
					<div></div>
					<div></div>
					<div></div>
					<div></div>
				</div>
				<div class="skeleton-card-btn-wrap">
					<div class="skeleton-card-btn"></div>
				</div>
			</div>
		</li>
		<li class='skeleton-card'>
			<div class='skeleton-card-poster'></div>
			<div class='skeleton-card-content'>
				<div class="skeleton-card-title"></div>
				<div class="skeleton-card-description">
					<div></div>
					<div></div>
					<div></div>
					<div></div>
				</div>
				<div class="skeleton-card-btn-wrap">
					<div class="skeleton-card-btn"></div>
				</div>
			</div>
		</li>
		<li class='skeleton-card'>
			<div class='skeleton-card-poster'></div>
			<div class='skeleton-card-content'>
				<div class="skeleton-card-title"></div>
				<div class="skeleton-card-description">
					<div></div>
					<div></div>
					<div></div>
					<div></div>
				</div>
				<div class="skeleton-card-btn-wrap">
					<div class="skeleton-card-btn"></div>
				</div>
			</div>
		</li>
	</ul>	
</div>


<navbar></navbar>
<router-outlet></router-outlet>
