@import '../../sass/utilites/index';


.movie-info-wrap {
	display: flex;
	justify-content: center;
	padding-top: 96px;
	padding-left: 12px;
	padding-right: 12px;
  padding-bottom: 40px;
	
	@include breakpoint($mobile) {
		padding-top: 136px;
	}

}

//------------------------------
.movie {
	display: flex;
	justify-content: space-between;
	max-width: 984px;
	width: 100%;
	padding-top: 120px;
	padding-left: 80px;
	padding-right: 80px;
	padding-bottom: 32px;
	border-radius: 5px;
	box-shadow: $shadow;
	overflow: hidden;

	position: relative;

}

@include breakpoint($tablet) {
	.movie {
		justify-content: space-around;
		padding-top: 80px;
		padding-left: 32px;
		padding-right: 32px;
	}
}

@include breakpoint($mobile) {
	.movie {
		padding-top: 0;
		padding-left: 16px;
		padding-right: 16px;
	}
}

//------------------------------
.movie-backdrop {
	width: 100%;
	height: 320px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;

  background-color: rgba($black, .5);
	background-size: cover;
	background-position: center top;
	background-repeat: no-repeat;

	&:after {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		
		background-color: rgba($black, .8);
	}
}

@include breakpoint($tablet) {
	.movie-backdrop {
		height: 264px;
	}
}



//------------------------------
.movie-poster {
	width: 224px;
	height: 336px;
	background-color: rgba($black, .8);
	background-size: cover;
	background-position: center top;
	background-repeat: no-repeat;

	border-radius: 5px;
	box-shadow: $shadow;
	z-index: 5;

	&.--default {
		display: flex;
		justify-content: center;
		align-items: center;
		fill: $white;

		svg {
			width: 64px;
			height: 64px;
		}
	}
}

@include breakpoint($tablet) {
	.movie-poster {
		min-width: 206px;
		min-height: 284px;
		width: 206px;
		height: 284px;
		margin-right: 32px;
	}
}

@include breakpoint($mobile) {
	.movie-poster {
		display: none;

		&.--default {
			display: none;
		}
	}
}



//------------------------------
.movie-info {
	max-width: 520px;
	width: 100%;
	z-index: 5;
}


.movie-title {
	height: 200px;
	padding-top: 40px;
	font-weight: 500;

	.title {
		margin-bottom: 8px;
		font-size: rem(34);
		color: $white;
		font-weight: 500;
	}

	.tagline {
		font-size: rem(16);
		color: rgba($white, .85);	
	}
}

@include breakpoint($tablet) {
	.movie-title {
		height: 184px;
	}
}

@include breakpoint($mobile) {
	.movie-title {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: 264px;
		padding-top: 0px;
		padding-left: 24px;
		padding-right: 24px;
		text-align: center;
	}
}


.movie-feature {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	margin-bottom: 24px;
	padding-top: 20px;

	.date,
	.genres {
		font-size: rem(16);
		font-weight: 500;
	}

	.genres {
		span:last-child {
			margin-right: 0;
		}

		span {
			display: inline-block;
			margin-right: 12px;
		}
	}

	.rating {
		display: flex;
	  color: $primary;
	  svg {
	    width: 17px;
	    height: 20px;
	    margin-right: 6px;
	    position: relative;
	    top: 4px;
	    fill: $primary;
	  }
	  span {
	    font-size: rem(24);
	    font-weight: 700;
	  }
	}
}

@include breakpoint($mobile) {
	.movie-feature {
		flex-wrap: wrap;

		.date,
		.rating {
			width: 50%;
			order: 1;
		}

		.date {
			margin-bottom: 8px;
		}

		.rating {
			display: flex;
			justify-content: flex-end;
		}

		.genres {
			min-width: 100%;
			order: 2;
		}
	}
}


.movie-description {
	margin-bottom: 24px;
	line-height: 20px;
}

.movie-other {

	li {
		margin-bottom: 16px;
	}

	li:last-child {
		margin-bottom: 0;
	}

	.character {
		font-size: rem(14);
		font-weight: 500;
	}

	.anything,
	.budget {
		font-size: rem(20);
		font-weight: 500;
	}

	.budget {
		color: $primary;
	}

	.revenue {
		font-size: rem(22);
		font-weight: 500;
		color: $primary;
	}
}