.search-list {
	max-height: 480px;
	width: 100%;
	position: absolute;
	top: 32px;
	left: 0;
	z-index: 10;
	background-color: $white;
	border-radius: 3px;
	box-shadow: $shadow;
	overflow-y: auto;
	color: $black;
}

.search-item {
	padding: 8px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	cursor: pointer;
	transition: all 100ms ease-in-out;

	&:hover,
	&:focus {
		background-color: rgba($black, .1);
	}
}

.search-item-img {
	min-width: 50px;
	width: 50px;
	height: 69px;
	margin-right: 16px;
	background-color: rgba($black, .5);
	background-size: cover;
	background-position: center top;
	background-repeat: no-repeat;
}

.search-item-title {
	font-size: rem(16);
}